.wrapper
	.form-wrapper
		.form	
			=link_to "Balboa Pacific", "http://balboapacific.com", class: 'logo'
			%h2.sub-header
				Home Coverage Quick Quote
			= form_for @quote do |f|
				= f.label :name
				= f.text_field :name, placeholder: 'Name of Insured', required: true, class: "name"
				
				= f.label :dob
				= f.text_field :dob, placeholder: 'Date of Birth', required: true, class: "dob"

				= f.label :phone
				= f.text_field :phone, placeholder: 'Phone', required: true, class: "phone"

				= f.label :email
				= f.email_field :email, placeholder: 'Email', required: true, class: "email"
					
				=field_set_tag 'Property Address' do

					= f.label :address
					= f.text_field :address, placeholder: 'Street Address', required: true

					= f.label :city
					= f.text_field :city, placeholder: 'City', required: true, class: 'address-small city'

					= f.label :state
					= f.text_field :state, placeholder: 'State', required: true, class: 'address-small state'

					= f.label :zip
					= f.text_field :zip, placeholder: 'Zip Code', required: true, class: 'address-small zip'

					= f.label :property
					= f.select :property, options_for_property,{:include_blank => 'Property Type'}, required: true

				.hidden
					= f.label :nickname
					= f.text_field :nickname, hint: 'leave blank'

				= f.submit 'Get Quote', class: 'btn'
		.cta
			=link_to "Learn More", "http://balboapacific.com"
			about Balboa Pacific Insurance.

.footer
	%ul.licensing
		%li
			Licensing: 
		%li
			AZ - 1089975 
		%li
			CA - 10I96581 
		%li
			CO - 460681 
		%li
			FL - W216194 
		%li
			OR - 100265964 
		%li
			TX - 2020888
	=link_to "450 Newport Center Drive Suite 200 Newport Beach, CA 92660", "https://goo.gl/maps/5z9nAgy5ZHJ2", class: "address"
	=link_to "(888) 722-6411", "tel:888.722.6411", class: "phone"